.product-box[b-eqzrs77k41] {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.product-box h3[b-eqzrs77k41] {
    font-size: 1.5rem;
    margin: 0;
}

.product-box p[b-eqzrs77k41] {
    font-family: 'Times New Roman', Times, serif;
    margin: 10px 0;
    font-size: 0.8rem;
    text-align: center;
}

.product-box .price[b-eqzrs77k41] {
    color: red;
    font-weight: bold;
    margin-top: 5px;
    font-weight: bold;
    margin-top: auto;
}

.product-box button[b-eqzrs77k41] {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-box button:hover[b-eqzrs77k41] {
    background-color: #0056b3;
}