@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, there!</h1>

Welcome to your new app.

<AuthorizeView>
    <Authorized>
        <p>Welcome, @context.User.Identity.Name</p>
    </Authorized>
    <NotAuthorized>
        <p>*You are currently signed out! <i><a href="login">Go to Login. </a></i></p>
    </NotAuthorized>
</AuthorizeView>

<SurveyPrompt Title="How is Blazor working for you?" />
