@using DeliveryApp.Data;

@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>DeliveryApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <AuthorizeView>
            <Authorized>
                <div class="top-row px-4">
                    <a href="/login" @onclick="Logout">Logout</a>
                    <a href="/">About</a>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="top-row px-4">
                    <a href="/login">Login</a>
                    <a href="/">About</a>
                </div>
            </NotAuthorized>
        </AuthorizeView>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    public void Logout()
    {
        ((CustomAuthenticationStateProvider)AuthenticationStateProvider).MarkUserAsLoggedOut();
    }
}